@charset "UTF-8";
@media screen and (max-width: 768px ) and (min-width: 431px){
    body{
        background-image: url(imagens/fundopcpng.png);
        background-attachment: scroll;
        background-position: center top;
        background-repeat: no-repeat;
    }
    #menuicon{
        display: flex;
        position: static;
        color: black;
        height: 30px;
        padding: 0;
        width: 30px;
        margin-left: 220px;
        
    }
    menu{
        display: none;
        
        
    }
}