@charset "UTF-8";


@media screen and (min-width: 768px){
    *{
        margin: auto;
        padding: 0px;
    }
    
    body{
        background-image: url(imagens/fundopcpng.png);
        background-attachment: scroll;
        background-position: center top;
        background-repeat: no-repeat;
    }
    header{
        display: flex;
        background-image:  radial-gradient(circle, #F0E3F9, #F1E5FE);;
        margin-right: 60px;
    }
    #hitens{
        width: 100vw;
        background-color: #E3DCF2;
        background-image: radial-gradient(circle, #F0E3F9, #F1E5FE);
        height: 100px;
        display: grid;
        justify-content: space-around;
        align-items: baseline;
    }
    #hitens > img{
        padding-left: 10px;
        padding-top: 10px;
        margin: 0px;
        width: 150px;
        height: 45px;
        position: static;
        justify-content: left;
    }
    #logo{
        margin-right: 0px;
    }
    #pczin{
        display: flex;
    }
    #menuicon{

        display: none;
    }
    menu{
        display: flex;
        margin: 0px;
        
    }
    #inicio{
        height: 700px;
        margin-top: 30px;
        
    }
    #inicio > p{
        font-size: 1.8em;
        letter-spacing: 2px;
    }
    #iniciodiv{
        display: flex;
        margin-bottom: 20px;
    }
    #iniciodiv > img{
        width: 350px;
        height: 350px;
    }
    #inside > h1{
    
        color: #FF160B;
        font-weight: bolder;
        font-size: 3em;
    }
    #inside > h3{
        font-size: 2em;
    }
    .box{
        margin: auto;
        
        display: flex;
        align-items: center;
        width: 52vw;
        height: 3px;
        background-image: radial-gradient(circle, #FF160B, transparent);
    }
    #modal{
        width: 1000px;
        height: 1000px;
        
        
        
    }
    #modal:target{
        opacity: 1;
        pointer-events: auto;
    }
    #modal:target + #fundo{
        background-color: rgba(0,0,0,0.75);
        position: fixed;
        right: 0; 
        left: 0; 
        top: 0; 
        bottom: 0;
    }
    #botao{
        margin: 20px;
        padding: 15px;
        border-radius: 15px;
        border: none;
        background-color: #FF160B;
        color: white;
    
    }
    #botao > a{
        text-decoration: none;
        color: white;
        font-size: medium;
        font-weight: bold;
    }
    #meio{

    }
    #meio > h1{
        font-size: 3em;
        font-weight: bolder;
    }

    #meio > h3{
        
        font-size: 1.8em;
    }
    #meio > p{
        margin-bottom: 15px;
        font-size: 1.2em;
    }
    .cordif{
        display: block;
        color: #FF003D;
    }
    #ofe{
        display: grid;
    }
    #top{
        display: flex;
    }
    #quads{
        display: inline-block;
    }
    #ofediv{
        display: flex;
        word-spacing: 3px;    
    }
    #ofediv > h1{
        font-size: 3em;
        
    }
    #ofediv > h2{
        font-size: 2em;
    }
    #top{
        display: grid;
    }
    #topcima{
        display: flex;
        
    }
    #topcima > h3{
        
        font-weight: bold;
        
    }
    #topbaixo{
        display: flex;
    }
    #h1{
        width: 40px;
        height: 22px;
        box-sizing: content-box;
        margin-left: 100px;
        transform: rotate(15deg);
        padding: 0px;
        
    }
    #h2{
        transform: rotate(20deg);
    }
    #h3{
        
        transform: rotate(-40deg);
        width: 200px;
    }
    #h4{
        transform: rotate(12deg);
    }
    .quads{
        width: 250px;
        display: grid;
        text-align: center;
        padding: 5px;
    }
    .quads > img{
        margin-bottom: 5px;
        height: 80px;
    }
    .quads > h2{
        margin-top: 0px;
        font-size: 2em;
    }
    .quads > p{
        margin-top: 0px;
     font-size: 1.3em;
    }
    #quad1{
        height: 340px;
    }
    #quad2{
        height: 150px;
    }
    #quad3{
        height: 520px;
    }
    #quad4{
        height: 160px;
        width: 200px;
    }
    #quad5{
        height: 340px;
        width: 200px;
    }
    #port{
        display: grid;
    }
    #portdiv{
        display: inline-flex;
        word-spacing: 0px;
    }
    #portdiv > a {
        width: 200px;
        padding: 10px;

    }
}
    
