@charset "UTF-8";
*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
   

}
body{
    background: url(imagens/fundomobilepng.png);
    background-position: center top;
    background-repeat: no-repeat;
    margin: auto;
    
}
html{
    align-content: center;
    align-items: center;
    justify-content: center;
    display: flexbox;
    color: #3D374F;
    margin: auto;
}
header{
    background-image: radial-gradient(circle, #F0CCE2, #F1D9F1);
    margin: 0px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    
}
header > img{
    padding-left: 10px;
    padding-top: 10px;
    margin: 0px;
    width: 70px;
    height: 60px;
    position: static;
}
menu{
    display: none;
    padding: 20px;
    text-align: center;
    
}
nav{
    padding: 50px;
    color: black;
}
#zap{
    background-color: green;
    width: 155px;
    height: 20px;
    padding: 10px;
    display: inline-block;
    align-items: center;
    text-align: center;
}
#menuicon{
    position: static;
    color: black;
    height: 30px;
    padding: 0;
    width: 30px;
}
#menicon:hover{
    background-color: black;
    color: white;
}
#inicio{
    height: 300px;
    text-align: center;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
} 
#inicio > h1{
    padding: 20px;
    color: #FF160B;
    font-weight: bolder;
}
#inicio >h3{
    padding-top: 20px;
    font-weight: bolder;
}
#inicio > p {
    color: #FF160B;
    font-weight: bold;
}

#modal{
    width: 440px;;
    position: fixed;
    
}
#botao{
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #FF160B;
    color: white;

}
.box{
   
    width: 98vw;
    height: 2px;
    margin: 5px;
    background-image: radial-gradient(circle, #FF160B, transparent);
   
    
}

#meio {
    text-align: center;
}
#meio > h1{
    font-size: 2em;
        color: #FF160B;
        margin-bottom: 10px;
}
#meio > img{
        width: 130px;
}
footer{
    height: 100px;
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: Center;
    padding-top: 30px;
}

footer > a{
    text-decoration: none;
    color: white;
}
footer > a:hover{
    color: red;
}
