@charset "UTF-8";
*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
   

}
body{
    background: url(imagens/fundomobilepng.png);
    background-position: center top;
    background-repeat: no-repeat;
    margin: auto;
    
}
html{
    align-content: center;
    align-items: center;
    justify-content: center;
    display: flexbox;
    color: #3D374F;
    margin: auto;
}
header{
    background-image: radial-gradient(circle, #F0CCE2, #F1D9F1);
    margin: 0px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    
}
header > img{
    padding-left: 10px;
    padding-top: 10px;
    margin: 0px;
    width: 150px;
    height: 45px;
    position: static;
}
menu{
    display: none;
    padding: 20px;
    text-align: center;
    
}
nav{
    padding: 50px;
    color: black;
}
#zap{
    background-color: green;
    width: 155px;
    height: 20px;
    padding: 10px;
    display: inline-block;
    align-items: center;
    text-align: center;
}
#menuicon{
    position: static;
    color: black;
    height: 30px;
    padding: 0;
    width: 30px;
}
#menicon:hover{
    background-color: black;
    color: white;
}
#inicio{
    height: 300px;
    text-align: center;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
} 
#inicio > h1{
    padding: 20px;
    color: #FF160B;
    font-weight: bolder;
}
#inicio >h3{
    padding-top: 20px;
    font-weight: bolder;
}
#inicio > p {
    color: #FF160B;
    font-weight: bold;
}

#modal{
    width: 400px;;
    position: fixed;
    
    margin: auto;
    
}
#modal:target{
    opacity: 1;
    pointer-events: auto;
}
#modal:target + #fundo{
    background-color: rgba(0,0,0,0.75);
    position: fixed;
    right: 0; 
    left: 0; 
    top: 0; 
    bottom: 0;
}
#botao{
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #FF160B;
    color: white;

}
.box{
   
    width: 98vw;
    height: 2px;
    margin: 5px;
    background-image: radial-gradient(circle, #FF160B, transparent);
   
    
}

#meio {
    text-align: center;
}
#meio > h1{
    font-size: 2em;
        color: #FF160B;
        margin-bottom: 10px;
}
#meio > img{
        width: 130px;
}
#ofe{
    text-align: center;
    
    
}
#ofe > h1 {
    margin-top: 3px;
    font-size: 2.5em;
    color: #FF0086;
    margin-bottom: 20px;
}
#quada{
    display: flex;
}
.quads{
    margin-top: 72px;
    width: 120px;
    border : 2px solid #CE2AF4; 
    border-radius: 20px;
    padding: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.quads> p {
    font-size: smaller;
}
.quads > img{
    color: #FF0071;
    height: 50px;    
}
.quads > h2{
    color: #F564D3;
    font-size: 1.4em;
}

#quad2{
    height: 120px;
    margin-top: 5px;
}
#quad1{
    height:  170px;
    margin-right: 5px;
    
}
#quad3{
    
    height: 320px;
}
#quad4{
    margin-left: 5px;
    width: 135px;
   
    height: 130px;
}

#quad5{
    margin-top: 5px;
    margin-left: 5px;
    width: 135px;
    
    height: 160px;
}
#top{
    display: grid;
    justify-items: center;
    color: #FF207C;
}
#topcima {
    display: flex;
}
#topbaixo{
    display: flex;
}
#topcima > h3{
    
    border:  2px solid #F1BEE9;
    border-radius: 10px;
    width: 100px;
    background-color: #F2B0D7;
}
#topbaixo > h3{
    
    border:  2px solid #F1BEE9;
    border-radius: 10px;
    width: 100px;
    background-color: #F2B0D7;
}

#h31{
    transform: rotate(30deg);
}
#port{
    margin: 30px;
    text-align: center;

}
#port > h1{
    font-size: 2.5em;
    color: #F100DF;
    margin-bottom: 20px;
}
#port > a{
        border: 2px solid#F100DF;
        text-decoration: none;
        color: white;
        border-radius: 10px;
        padding: 5px;
        margin: 10px;
}
#pf{
    text-align: center;
    display: block; 
    margin-bottom: 40px; 
}
#pf > h1{
    color: #8207FF;
    font-size: 2.5em;
}
#cp{
    text-align: center;
    display: grid;
    justify-content: space-around;
}
#cp > p{
    width: 100px;
    border: 2px solid #8007FF;
    border-radius: 10px;
    display: grid;
    
}


#formu{
    
    text-align: center;
    margin: 20px;
    
}
#formu > h1{
    color: #8007FF;
    font-size: 2.4em;
}
#formu > h4{
    color: #C200FF;
}
form{
    margin-top: 10px;
    text-align: left;
    
}
form > label{
    margin-left: 10px;
}
input{
    width: 190px;
    height: 30px;
    background-image: linear-gradient(to right, #CD8AFF, #DA9AFF);
    border: 2px solid #BD2FFF;
    border-radius: 10px;
    margin: 5px;
   
}
#imail{
    width: 370px;
}
#iass{
    width: 370px;
}

label{
    color: #7408FF;
    font-weight: bold;
}
#enviar{
    width: 374px;
    height: 35px;
    color: white;
    padding: 3px;
    font-weight: bold;
    font-size: larger;
    background-image: linear-gradient(to right, #D870FF, #AA4CFD);
}
#formunome{
    display: flex;
}
#formunome > label{
    margin-left: 8px;
    margin-right: 155px;
}
#formuinnome{
    display: flex;
}
#formuinnome > input{
    margin-right: 23px;
    width: 180px;
}
.isobnc{
    margin-right: 0px;
}
#formuzap{
    width: 374px;
    height: 35px;
    color: white;
    padding: 3px;
    border: 2px solid #BD2FFF;
    border-radius: 10px;
    background-image: linear-gradient(to right, #D870FF, #AA4CFD);
    margin-left: 5px;
    
}
#formuzap > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: larger;
   
}
#con{
    text-align: center;
}
#con > h1{
    color: #8906FF;
    font-size: 2em;
    
}
#con > p {
    margin: 15px;
}

#box1{
    background-image: radial-gradient(circle, #453E55, transparent) ;
    height: 2px;
    margin: 5px;
}
footer{
    height: 300px;
    background-color: #E8DEF4;
    color: #3D374F;
    font-weight: bold;
    padding-top: 30px;
    display: grid;
}
#footpag{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 5px;
}

#footpagimg > img{
    width: 70px;
    height: 70px;
    margin-right: 5px;
}
#footpagtext > a{
    text-decoration: none;
    color: #3D374F;
    
}
#footfo > a{
    text-decoration: none;
    color: #3D374F;
}
#isobn{
    margin-right: 0px;
}
footer > a{
    text-decoration: none;
    color: #3D374F;
}
footer > a:hover{
    color: red;
}
footer > img{
    width: 30px;
    height: 30px;
}
#copy{
    font-size: smaller;
}

