@charset "UTF-8";
*{
    font: Arial;
    margin: 0px;
    padding: 0px;
    

}
body{
    background-color: black;
   
    margin: auto;
}
html{
    align-content: center;
    align-items: center;
    justify-content: center;
    display: flexbox;
    
    margin: auto;
}
header{
    background-color: white;
    color: white;
    margin: 0px;
    padding: 30px;
    display: block;
    text-align: center;
    width: 100vw;
}
header > img{
    width: 70px;
    height: 60px;
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;

    
}
menu{
    display: none;
    padding: 20px;
}
nav{
    padding: 50px;
    color: black;
}
#zap{
    background-color: green;
    width: 155px;
    height: 20px;
    padding: 10px;
    display: inline-block;
    align-items: center;
    text-align: center;
}
#menuicon{
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    width: 80vw;
    justify-content:flex-end;
    text-align: center;
}
#menicon:hover{
    background-color: black;
    color: white;
}
#port{
    padding: 20px;
}  
#port > a{
    height: 200px;
    padding: 7px;
}
#port > a > img{
    height: 200px;
}

footer{
    height: 100px;
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: Center;
    padding-top: 30px;
}

footer > a{
    text-decoration: none;
    color: white;
}
footer > a:hover{
    color: red;
}
