@charset "UTF-8";
@media screen and (max-width: 768px ) and (min-width: 431px){
    :root{
        --font1 : "Montserrat", sans-serif;
        --font2 : "Inter"; 
    }
    *{
        margin: auto;
        padding: 0px;
    }
   
    body{
        background-image: url(background/fundopcpng.png);
        background-attachment: scroll;
        background-position: center top;
        background-repeat: no-repeat;
        margin: 0px;
        width: 900px;
    }
    html{
       margin-left: 80px;
        width: 900px;
    }
    header{
        display: flex;
        background-image:  radial-gradient(circle, #F0E3F9, #F1E5FE);;
        margin-right: 60px;
        font-family: var(--font1);
    }
    #menuicon{
        display: none;
  
    }
    menu{
        display:   flex;  
        
    }
    #itensmenu{
        margin-right: 100px
    }
    #itensmenu > nav{
        padding: 20px;
    }
    #zap{
        font-family: var(--font1);
        font-weight: bold;
        white-space: nowrap;
        padding: 15px;
        text-align: center;
        padding-right: 25px;
        margin-left: 120px;
        width: 210px;
        height: 15px;
    }
    #inicio{
        height: 400px;
        margin-top: 50px;
    }
    #inside{
        width: 500px;
        margin-left: 30px;
        margin-right: 0px;
    }
    #inside > h3{
        white-space: nowrap;
        font-size: 2em;
    }
    #inside > h1{
        font-size: 2.5em;
    }
    #iniciodiv{
        display: flex;
        margin-bottom: 20px;
    }
    #pczin{
        display: grid;
        width: 250px;
        height: 250px;
        margin-left: 120px;

    }
    .box{
        width: 600px;
        display: flex;
        justify-content: center;
        margin: auto;
    }
    #inicio > p{
        white-space: nowrap;
        font-size: 1.4em;
        margin-left: -20px;
    }
    .modalc{
        width: 700px;
        height: 500px;
        margin: auto;
    }
    .modalc > iframe{
        width: 700px;
        height: 460px;
    }
    #port{
        display: flex;
    }
    #port > h2{
        white-space: nowrap;
        margin-left: 0px;
       
    }
    #port > h1{
        margin-top: 2.5em;
        white-space: nowrap;
        margin-left: -275px;
    }
    #port > button{
        margin-right: 150px;
        width: 250px;
        white-space: nowrap;
        height: 70px;
        margin-top: 70px;
        padding: 10px;
        padding-right: 30px;
        font-weight: bold;
        font-size: 1.3em;
        display: flex;
        align-items: center;
        font-family: var(--font2);
        font-weight: 600;
        text-decoration: none;
    }
    #portcont{
        align-items: center;
        justify-content: center;
        
    }
    #meio{
        margin-left: auto;

    }
    #meio > h1{
        font-size: 2.5em;
    }
    #meio > h3{
        display: flex;
        justify-content: center;
    }
    .cordif{
        font-family: var(--font1);
        margin: 0px;
    }
    #logo2{
        width: 50px;
        height: 60px;
    }
    #ofediv{
        display: flex;
    }
    #ofediv > h1{
        margin-top: 2.5em;
        margin-left: -150px;
        margin-right: 100px;
    }
   
    #h4{
        padding: 8px;
    }
    #pf{
        margin: auto;
    }
    #pf > h1{
        white-space: nowrap;
    }
    .pfs{
        width: 750px;
        border: 2px solid #9733FE;
        border-radius: 20px;
        color: #B85BFE;
        font-weight: bold;
        font-size: 1.2em;
        font-family: var(--font1);
        font-weight: 900;
        margin-bottom: 10px;
        height: 150px;
    }
    .pfs > h2{
        white-space: nowrap;
        margin-bottom: 20px;
    }
    #cp{
        margin-top: 30px;
        display: grid;
        width: 800px;
        justify-content: center;
        padding-right: 20px;
    }
    #quada{
        margin-left: 20px;
    }
    .quads{
        width: 700px;
        display: grid;
        text-align: center;
        padding: 5px;
    }
    .quads > img{
        margin: auto;
    }
    .quads > h2{
        font-size: 2em;
    }
    #esq{
        margin-right: 0px;
        margin-left: 120px;
    }
    #quad1{
        width: 200px;
        height: 220px;
    }
    #quad2{
        width: 200px;
        height: 160px;
    }
    #quad3{
        margin-left: 0px;
        margin-right: 0px;
        width: 200px;
        height: 400px;
    }
    #quad3 > h2{
        font-size: 2em;
    }
    #quad4{
        width: 200px;
        height: 160px;
    }
    #quad4 > h2{
        font-size: 1.7em;
    }
    #quad5{
        width: 200px;
        height: 220px;
    }
    #dir{
        margin-left: 0px;
    }
    #dis{
        font-size: 0.75em;
    }
    #formu{
        display: grid;
        text-align: center;
        margin: 20px;
        align-items: center;
        margin-bottom: 70px;
        margin-left: 0px;
        
    }
    #formutitle{
        display: grid;
        text-align: center;
        margin: 20px;
        align-items: center;
        height: 150px;
        white-space: pre-wrap;
        word-break: break-all;
        margin-left: -70px;
    }
    #formutitle > h1{
        color: #8007FF;
        font-size: 2em;
        white-space: nowrap;
        padding-left: 20px;
        font-family: var(--font1);
        font-weight: 900;
        
    }
   
    #h4form{
        color: #C200FF;
        font-family: var(--font1);
        font-weight: bold;
        margin-top: -2em;
        margin-left: 800px;
    }
    #formutitle > p {
        font-size: 1em;
        font-family: var(--font1);
        font-weight: bold;
        white-space: nowrap;        
    }
    form{
        margin-top: 10px;
        text-align: left;
        
    }
    form > label{
        margin-left: 10px;
        font-family: var(--font1);
        font-weight: bold;
    }
    #formuin{
        justify-content: center;
        margin: auto;
        width: 900px;
        margin-left: 200px;
    }
    input{
        width: 50vw;
        height: 40px;
        background-image: linear-gradient(to right, #CD8AFF, #DA9AFF);
        border: 2px solid #BD2FFF;
        border-radius: 15px;
        margin: 5px;
       
    }
    #imail{
        width: 620px;
    }
    #iass{
        width: 620px;
        height: 120px;
    }
    
    label{
        color: #7408FF;
        font-weight: bold;
    }
    #enviar{
        width: 620px;
        height: 40px;
        color: white;
        padding: 3px;
        font-weight: bold;
        font-size: larger;
        font-family: var(--font1);
        background-image: linear-gradient(to right, #D870FF, #AA4CFD);
    }
    #formuin{
        display: block;
        margin-left: 300px;
    }
    #formunome{
        display: flex;
    }
    #formunome > label{
        margin-left: 10px;
        font-family: var(--font1);
        font-weight: bold;
        margin-right: 260px;
    }
    #formuinnome{
        display: flex;
    }
    #formuinnome > input{
        margin-right: 10px;
        width: 300px;
    }
    .isobn{
        margin-right: 0px;
        
    }
    #formuzap{
        width: 620px;
        height: 40px;
        color: white;
        padding: 3px;
        border: 2px solid #BD2FFF;
        border-radius: 15px;
        background-image: linear-gradient(to right, #D870FF, #AA4CFD);
        display: block;
        
    }
    #formuzap > a{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: larger;
        font-family: var(--font1);
        font-weight: bold;
       
    }
    #cont{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    #con{
        display: grid;
         margin: auto;
       
    }
    #con > h1{
        font-family: var(--font1);
        font-weight: 800;
    }
    #con > p{
        font-size: large;
        word-spacing: 2px;
        font-family: var(--font1);
        font-weight: bold;
    }
    footer{
        height: 300px;
        background-color: #E8DEF4;
        color: #3D374F;
        font-weight: bold;
        padding-top: 30px;
        display: grid;
        font-family: var(--font1);
        width: 1150px;
        margin-left: -100px;
    }
    #footpag{
        display: grid;
        position: relative;
        justify-content: space-between;
        margin-bottom: 10px;
        margin-top: 5px;
        font-family: var(--font1);
        left: -150px;
    }
    #footpagimg{
        display: flex;
        
    }
    #footpagimg > img{
        width: 90px;
        height: 120px;
        margin-right: -550px;
        margin-top: -30px;
    }
    #footpagtext{
        margin-left: -100px;
        margin-top: 20px;
    }
    #footpagtext > a{
        text-decoration: none;
        color: #3D374F;
        font-family: var(--font1);
        font-size: large;
    }
    #footpagtext > h2{
        font-size: 1.9em;
    }
    #footfo{
        flex-direction: column;
        display: flex;
        font-family: var(--font1);
        margin-top: 0px;
        margin-right: auto;
        margin-left: 230px;
        
    }
    #footfo > a{
        text-decoration: none;
        color: #3D374F;
        font-family: var(--font1);
        font-size: large;
        white-space: nowrap; 
        word-break: keep-all;
    }
    #footfo > h2{
        font-size: 1.9em;
    }
    #footcon{
        display: grid;
        font-family: var(--font1);
        margin-top: -220px;
        margin-right: 350px;
    }
    #footcon > h2{
        font-size: 1.9em;
    }
    #footcon  > p {
        font-size: large;
    }
    .boxver{
          width: 3px;
          height: 230px; 
          margin: auto;
          background-image: radial-gradient(circle, #453E55, transparent) ;
          margin-left: 550px;
          margin-top: -190px;
          
    }
    #box2{
        width: 90vw;
        height: 2px;
        background-image: radial-gradient(circle, #453E55, transparent) ;
        margin-left: 200px;
    }
    #copy{
        margin-left: 230px;
    }
    .slider-container{
        width: 600px;
        height: 600px;
        margin: auto;
    }
    .slider{
        height: 600px;
    }
    .slide > img{
        height: 600px;
    }
    #btnsslide{
        display: flex;
    }
   .arrow-left{
        margin-top: -300px;
        margin-left: 180px;
        
   }
   .arrow-right{
     margin-top: -300px;
     margin-right: 180px;
   }
}
