@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@media screen and (max-width: 1024px ) and (min-width: 770px) {
    *{
        margin: auto;
        padding: 0px;
    }
    :root{
        --font1 : "Montserrat", sans-serif;
        --font2 : "Inter", sans-serif; 
    }
    body{
        background-image: url(background/fundopcpng.png);
        background-attachment: scroll;
        background-position: center top;
        background-repeat: no-repeat;
        margin: 0px;
        width: 900px;
    }
    html{
       
        width: 1000px;
    }
    header{
        
        display: flex;
        background-image:  radial-gradient(circle, #F0E3F9, #F1E5FE);;
        margin-right: 60px;
        font-family: var(--font1);
    }
    #hitens{
        background-color: #E3DCF2;
        background-image: radial-gradient(circle, #F0E3F9, #F1E5FE);
        height: 100px;
        
    }
    #hitens > img{
        padding-left: 10px;
        padding-top: 10px;
        margin: 0px;
        width: 150px;
        height: 45px;
        position: static;
        justify-content: left;
        background-color: none;
    }
    #itensmenu{
        margin-right: 100px;
    }
    #itensmenu > nav{
        padding: 20px;
    }
    
    #menuicon{
        display: none;
        position: static;
        color: black;
        height: 30px;
        padding: 0;
        width: 30px;
        margin-left: 220px;
        
    }
    menu{
        display:   flex;
        
        
    }
    menu > nav > a{
        text-decoration: none;
        color: #453F59;
        font-family: var(--font1);
        font-weight: bold;
    }
    #zap{
        font-family: var(--font1);
        font-weight: bold;
        width: 180px;
        border: 2px solid gray;
        border-radius: 20px;
        white-space: nowrap;
    }
    #dis{
        font-family: var(--font2);
        font-weight: 600;
    }
    #logo{
        margin-right: 0px;
    }
    #pczin{
        display: flex;
    }
    #inside > h3{
        white-space: nowrap;
    }
    #pczin{
        margin-left: 100px;
        width: 300px;
        height: 300px;
    }
    #inicio{
        display: grid;
        height: 700px;
    }
    #iniciodiv{
        display: flex;
    }
    #inicio > p{
        font-family: var(--font1);
        font-weight: 800;
        font-size: 1.5em;
        margin: 0px;
        height: 30px;
        
    }
    #inside > h1{
        font-family: var(--font1);
        color: #FF160B;
        font-weight: 900;
        font-size: 3em;
    }
    #inside > h3{
        font-size: 2em;
    }
    #inside > button{
        margin-left: 0px;
       
    }
    .box{
        
        width: 800px;
        
    }
    #inicio > p{
        white-space: nowrap;
    }

    #meio{
        margin: auto;
        margin-left: 80px;
    }
    #meio > h1{
        font-size: 2.5em;
    }
    #meio > h3{
        font-size: 2em;
    }
    .cordif{
        font-size: 1.4em;
        font-family: var(--font1);
        font-weight: bolder;
    }
    #seta{
            width: 180px;
            height: 180px;
    }
    #logo2{
        width: 200px;
        height: 120px;
    }
    #ofe{
        margin: auto;
        margin-left: 100px;
        
    }
    #ofediv{
        display: flex;
    }
    #ofediv > h1{
        margin-bottom: 0px;
        margin-top: 25px;
    }
    #esq{
        margin: 0px;
    }
    #dir{
        margin: 0px;
    }
    #h4{
        padding: 10px;
    }
    .quads{
        width: 300px;
        display: grid;
        text-align: center;
        padding: 5px;
    }
    .quads > img{
        margin-bottom: 5px;
        height: 80px;
    }
    .quads > h2{
        margin-top: 0px;
        font-size: 2em;
    }
    .quads > p{
        margin-top: 0px;
     font-size: 1.3em;
    }
    #quad1{
        width: 250px;
        height: 360px;
    }
    #quad2{
        width: 250px;
        height: 170px;
    }
    #quad3{
        width: 250px;
        height: 550px;
        margin-left: 5px;
        margin-right: 5px;
    }
    #quad4{
        height: 185px;
        width: 250px;
    }
    #quad5{
        height: 345px;
        width: 250px;
    }
    #port {
        display: flex;
    }
    #port > h2{
        white-space: nowrap;
        margin-left: 130px;
    }
    #port > h1{
        margin-top: 2em;
        white-space: nowrap;
        margin-left: -260px;
    }
    #port > a{
        margin-left: 130px;
        width: 500px;
        white-space: nowrap;
        height: 40px;
        padding: 10px;
        margin-top: 50px;
        font-size: 1.4em;
        padding-top: 20px;
    }
    #portcont{
        align-items: center;
        justify-content: center;
        
    }

    .slider-container{
        margin: auto;
    }
    #btnsslide{
        display: flex;
    }
    .arrow-left{
       margin-top: -300px;
    }
    .arrow-right{
        margin-top: -300px;
    }
    #pf{
        margin: auto;
    }
    #pf > h1{
        white-space: nowrap;
    }
    #cp{
        margin-top: 30px;
        display: grid;
        width: 800px;
       
        padding-right: 20px;
    }
    #quada{
        margin-left: -30px;
    }
    #formu{
        display: grid;
        text-align: center;
        margin: 20px;
        align-items: center;
        margin-bottom: 70px;
        margin-left: 0px;
        
    }
    #formutitle{
        display: grid;
        text-align: center;
        margin: 20px;
        align-items: center;
        height: 150px;
        white-space: pre-wrap;
        word-break: break-all;
        margin-left: 100px;
    }
    #formutitle > h1{
        color: #8007FF;
        font-size: 2em;
        white-space: nowrap;
        padding-left: 20px;
        font-family: var(--font1);
        font-weight: 900;
        
    }
   
    #h4form{
        display: inline-flex;
        color: #C200FF;
        font-family: var(--font1);
        font-weight: bold;
        margin-top: -1.8em;
        margin-left: 640px;
    }
    #formutitle > p {
        font-size: larger;
        font-family: var(--font1);
        font-weight: bold;
        white-space: nowrap;        
    }
    form{
        margin-top: 10px;
        text-align: left;
        
    }
    form > label{
        margin-left: 10px;
        font-family: var(--font1);
        font-weight: bold;
    }
    #formuin{
        justify-content: center;
        margin: auto;
        width: 900px;
        margin-left: 300px;
    }
    input{
        width: 50vw;
        height: 40px;
        background-image: linear-gradient(to right, #CD8AFF, #DA9AFF);
        border: 2px solid #BD2FFF;
        border-radius: 15px;
        margin: 5px;
       
    }
    #imail{
        width: 620px;
    }
    #iass{
        width: 620px;
        height: 120px;
    }
    
    label{
        color: #7408FF;
        font-weight: bold;
    }
    #enviar{
        width: 620px;
        height: 40px;
        color: white;
        padding: 3px;
        font-weight: bold;
        font-size: larger;
        font-family: var(--font1);
        background-image: linear-gradient(to right, #D870FF, #AA4CFD);
    }
    #formuin{
        display: block;
    }
    #formunome{
        display: flex;
    }
    #formunome > label{
        margin-left: 10px;
        font-family: var(--font1);
        font-weight: bold;
        margin-right: 260px;
    }
    #formuinnome{
        display: flex;
    }
    #formuinnome > input{
        margin-right: 10px;
        width: 300px;
    }
    .isobn{
        margin-right: 0px;
        
    }
    #formuzap{
        width: 620px;
        height: 40px;
        color: white;
        padding: 3px;
        border: 2px solid #BD2FFF;
        border-radius: 15px;
        background-image: linear-gradient(to right, #D870FF, #AA4CFD);
        display: block;
        
    }
    #formuzap > a{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: larger;
        font-family: var(--font1);
        font-weight: bold;
       
    }
    #cont{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    #con{
        display: grid;
       margin: auto;
       
    }
    #con > h1{
        font-family: var(--font1);
        font-weight: 800;
    }
    #con > p{
        font-size: large;
        word-spacing: 2px;
        font-family: var(--font1);
        font-weight: bold;
    }
    footer{
        height: 300px;
        background-color: #E8DEF4;
        color: #3D374F;
        font-weight: bold;
        padding-top: 30px;
        display: grid;
        font-family: var(--font1);
        width: 99vw;
        margin-left: 0px;
    }
    #footpag{
        display: grid;
        position: relative;
        justify-content: space-between;
        margin-bottom: 10px;
        margin-top: 5px;
        font-family: var(--font1);
        left: -200px;
    }
    #footpagimg{
        display: flex;
        
    }
    #footpagimg > img{
        width: 70px;
        height: 70px;
        margin-right: -370px;
        margin-top: 50px;
    }
    #footpagtext > a{
        text-decoration: none;
        color: #3D374F;
        font-family: var(--font1);
        
    }
    #footfo{
        flex-direction: column;
        display: flex;
        font-family: var(--font1);
        margin-top: -60px;
        margin-right: auto;
        margin-left: 200px;
    }
    #footfo > a{
        text-decoration: none;
        color: #3D374F;
        font-family: var(--font1);
    }
    #footcon{
        display: grid;
        font-family: var(--font1);
        margin-top: -220px;
        margin-right: 300px;
    }
   
    .boxver{
          width: 3px;
          height: 220px; 
          margin: auto;
          background-image: radial-gradient(circle, #453E55, transparent) ;
          margin-left: 500px;
          margin-top: -180px;
          
    }
    #box2{
        width: 99vw;
        height: 2px;
    }
}
@media  screen and (max-width: 1440px ) and (min-width: 1025px) {
   body{
        width: 100%;
   }
    html{
        width: 100%;
        margin-left: 50px;
    }
    #hitens{
        margin-right: 500px;
    }
    #itensmenu{
        margin-right: 100px;
    }
    #itensmenu > nav{
        padding: 30px;
    }
    #zap{
        white-space: nowrap;
    
    }
   
    #h0{
        margin-left: 20px;
        padding: 13px;
    }
    #h1{
        margin-left: 100px;
        padding: 8px;
    }
    #h2{
        margin-right: 5px;  
        padding: 13px;
    }
    #h3{
        padding: 13px;
    }
    #h4{
        padding: 13px;
    }
    #cont{
        margin-left: 200px;
    }
    #con{
        margin-left: 400px;
        margin-right: -100px;
    }
   
    footer{
        height: 300px;
        background-color: #E8DEF4;
        color: #3D374F;
        font-weight: bold;
        padding-top: 30px;
        display: grid;
        font-family: var(--font1);
        width: 1440px;
    }
    #footpag{
        display: grid;
        position: relative;
        justify-content: space-between;
        margin-bottom: 10px;
        margin-top: 5px;
        font-family: var(--font1);
        left: -200px;
    }
    #footpagimg{
        display: flex;
        
    }
    #footpagimg > img{
        width: 70px;
        height: 70px;
        margin-right: -450px;
    }
    #footpagtext > a{
        text-decoration: none;
        color: #3D374F;
        font-family: var(--font1);
        
    }
    #footfo{
        flex-direction: column;
        display: flex;
        font-family: var(--font1);
        margin-top: -60px;
        margin-right: auto;
        margin-left: 410px;
    }
    #footfo > a{
        text-decoration: none;
        color: #3D374F;
        font-family: var(--font1);
    }
    #footcon{
        display: grid;
        font-family: var(--font1);
        margin-top: -220px;
        margin-right: 600px;
    }
   
    .boxver{
          width: 3px;
          height: 220px; 
          margin: auto;
          background-image: radial-gradient(circle, #453E55, transparent) ;
          margin-left: 670px;
          margin-top: -180px;
          
    }
    #box2{
        width: 99vw;
        height: 2px;
    }   
}