@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@media screen and (max-width: 1024px ) and (min-width: 770px) {
    *{
        margin: auto;
        padding: 0px;
    }
    :root{
        --font1 : "Montserrat", sans-serif;
        --font2 : "Inter", sans-serif; 
    }
    body{
        background-image: url(background/fundopcpng.png);
        background-attachment: scroll;
        background-position: center top;
        background-repeat: no-repeat;
        margin: 0px;
        width: 1000px;
    }
    html{
        margin-left: 50px;
        width: 1000px;
    }
    header{
        
        display: flex;
        background-image:  radial-gradient(circle, #F0E3F9, #F1E5FE);;
        margin-right: 60px;
        font-family: var(--font1);
    }
    #hitens{
        background-color: #E3DCF2;
        background-image: radial-gradient(circle, #F0E3F9, #F1E5FE);
        height: 100px;
        margin-left: 50px;
        
    }
    #hitens > img{
        padding-left: 10px;
        padding-top: 10px;
        margin: 0px;
        width: 150px;
        height: 45px;
        position: static;
        justify-content: left;
        background-color: none;
    }
    #itensmenu{
        margin-right: 150px;
    }
    #itensmenu > nav{
        padding: 20px;
    }
    
    #menuicon{
        display: none;
        position: static;
        color: black;
        height: 30px;
        padding: 0;
        width: 30px;
        margin-left: 220px;
        
    }
    menu{
        display:   flex;
        
        
    }
    menu > nav > a{
        text-decoration: none;
        color: #453F59;
        font-family: var(--font1);
        font-weight: bold;
    }
    #zap{
        font-family: var(--font1);
        font-weight: bold;
        width: 180px;
        border: 2px solid gray;
        border-radius: 20px;
        white-space: nowrap;
        margin-left: 100px;
        height: 15px;
        padding-top: 18px;
    }
    #dis{
        font-family: var(--font2);
        font-weight: 600;
    }
    #logo{
        margin-right: 0px;
    }
    #pczin{
        display: flex;
    }
    #inside > h3{
        white-space: nowrap;
    }
    #pczin{
        margin-left: 100px;
        width: 300px;
        height: 300px;
    }
    #inicio{
        height: 500px;
    }
    #iniciodiv{
        display: flex;
        margin-bottom: 70px;
    }
    #inicio > p{
        font-family: var(--font1);
        font-weight: 800;
        font-size: 1.5em;
        margin: 0px;
        height: 30px;
        
    }
    #inside > h1{
        font-family: var(--font1);
        color: #FF160B;
        font-weight: 900;
        font-size: 3em;
    }
    #inside > h3{
        font-size: 2em;
    }
    #inside > button{
        margin-left: 0px;
       
    }
    .box{
        width: 800px;
        margin: auto;
    }
    #inicio > p{
        white-space: nowrap;
    }
    .modalc{
        width: 800px;
        height: 500px;
        margin: auto;
    }
    .modalc > iframe{
        width: 800px;
        height: 460px;
    }
    #meio{
        margin: auto;
        margin-left: 80px;
    }
    #meio > h1{
        font-size: 2.5em;
    }
    #meio > h3{
        font-size: 2em;
    }
    .cordif{
        font-size: 1.4em;
        font-family: var(--font1);
        font-weight: bolder;
    }
    #seta{
        width: 180px;
        height: 180px;
    }
    #logo2{
        display: flex;
        width: 200px;
        height: 120px; 
    }
    #ofe{
        margin: auto;
        margin-left: 100px;
        
    }
    #ofediv{
        display: flex;
    }
    #ofediv > h1{
        margin-bottom: 0px;
        margin-top: 25px;
    }
   
    #esq{
       
        margin: 0px;
    }
    #dir{
        margin: 0px;
    }
    #h4{
        padding: 10px;
    }
    .quads{
        width: 300px;
        display: grid;
        text-align: center;
        padding: 5px;
    }
    .quads > img{
        margin-bottom: 5px;
        height: 80px;
        margin: auto;
    }
    .quads > h2{
        margin-top: 0px;
        font-size: 2em;
    }
    .quads > p{
        margin-top: 0px;
     font-size: 1.3em;
    }
    #quad1{
        width: 250px;
        height: 360px;
    }
    #quad2{
        width: 250px;
        height: 170px;
    }
    #quad3{
        width: 250px;
        height: 550px;
        margin-left: 5px;
        margin-right: 5px;
    }
    #quad3 > h2{
        font-size: 2em;
    }
    #quad4{
        height: 185px;
        width: 250px;
    }
    #quad4 > h2{
        font-size: 1.8em;
    }
    #quad5{
        height: 345px;
        width: 250px;
    }
    #port {
        display: flex;
    }
    #port > h2{
        white-space: nowrap;
        margin-left: 130px;
    }
    #port > h1{
        margin-top: 2em;
        white-space: nowrap;
        margin-left: -270px;
    }
    #port > button{
        border: 2px solid#F100DF;
        margin-left: 130px;
        width: 500px;
        white-space: nowrap;
        height: 70px;
        padding: 10px;
        margin-top: 50px;
        font-size: 1.4em;
        
        
    }
    #portcont{
        align-items: center;
        justify-content: center;
        
    }
 
    .slider-container{
        margin: auto;
    }
    #btnsslide{
        display: flex;
    }
    .arrow-left{
       margin-top: -300px;
    }
    .arrow-right{
        margin-top: -300px;
    }
    #pf{
        margin: auto;
    }
    #pf > h1{
        white-space: nowrap;
    }
    .pfs{
        width: 750px;
        margin-bottom: 10px;
        height: fit-content;
        border: none;
        
    }
    .pfs > summary{
        border: 2px solid #9733FE;
        border-radius: 20px;
        color: #B85BFE;
        font-weight: bold;
        font-size: 1em;
        font-family: var(--font1);
        font-weight: 900;
        padding: 20px;
        text-align: start;
    }
    .pfs > p{
        font-family: var(--font1);  
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #cp{
        margin-top: 30px;
        display: grid;
        width: 800px;
       
        padding-right: 20px;
    }
    #quada{
        margin-left: 30px;
    }
    #formu{
        display: grid;
        text-align: center;
        margin: 20px;
        align-items: center;
        margin-bottom: 70px;
        margin-left: 0px;
        
    }
    #formutitle{
        display: grid;
        text-align: center;
        margin: 20px;
        align-items: center;
        height: 150px;
        white-space: pre-wrap;
        word-break: break-all;
        margin-left: 100px;
    }
    #formutitle > h1{
        color: #8007FF;
        font-size: 2em;
        white-space: nowrap;
        padding-left: 20px;
        font-family: var(--font1);
        font-weight: 900;
        
    }
   
    #h4form{
        display: inline-flex;
        color: #C200FF;
        font-family: var(--font1);
        font-weight: bold;
        margin-top: -1.8em;
        margin-left: 800px;
    }
    #formutitle > p {
        font-size: larger;
        font-family: var(--font1);
        font-weight: bold;
        white-space: nowrap;        
    }
    form{
        margin-top: 10px;
        text-align: left;
        
    }
    form > label{
        margin-left: 10px;
        font-family: var(--font1);
        font-weight: bold;
    }
    #formuin{
        justify-content: center;
        margin: auto;
        width: 900px;
        margin-left: 400px;
    }
    input{
        width: 50vw;
        height: 40px;
        background-image: linear-gradient(to right, #CD8AFF, #DA9AFF);
        border: 2px solid #BD2FFF;
        border-radius: 15px;
        margin: 5px;
       
    }
    #imail{
        width: 620px;
    }
    #iass{
        width: 620px;
        height: 120px;
    }
    
    label{
        color: #7408FF;
        font-weight: bold;
    }
    #enviar{
        width: 620px;
        height: 40px;
        color: white;
        padding: 3px;
        font-weight: bold;
        font-size: larger;
        font-family: var(--font1);
        background-image: linear-gradient(to right, #D870FF, #AA4CFD);
    }
   
    #formunome{
        display: flex;
    }
    #formunome > label{
        margin-left: 10px;
        font-family: var(--font1);
        font-weight: bold;
        margin-right: 260px;
    }
    #formuinnome{
        display: flex;
    }
    #formuinnome > input{
        margin-right: 10px;
        width: 300px;
    }
    .isobn{
        margin-right: 0px;
        
    }
    #formuzap{
        width: 620px;
        height: 40px;
        color: white;
        padding: 3px;
        border: 2px solid #BD2FFF;
        border-radius: 15px;
        background-image: linear-gradient(to right, #D870FF, #AA4CFD);
        display: block;
        
    }
    #formuzap > a{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: larger;
        font-family: var(--font1);
        font-weight: bold;
       
    }
    #cont{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    #con{
        display: grid;
        margin: auto;
       
    }
    #con > h1{
        font-family: var(--font1);
        font-weight: 800;
    }
    #con > p{
        font-size: large;
        word-spacing: 2px;
        font-family: var(--font1);
        font-weight: bold;
    }
    footer{
        height: 300px;
        background-color: #E8DEF4;
        color: #3D374F;
        font-weight: bold;
        padding-top: 30px;
        display: grid;
        font-family: var(--font1);
        width: 1220px;
        margin-left: -50px;

    }
    #footpag{
        display: grid;
        position: relative;
        justify-content: space-between;
        margin-bottom: 10px;
        margin-top: 5px;
        font-family: var(--font1);
        left: -200px;
    }
    #footpagimg{
        display: flex;
        
    }
    #footpagimg > img{
        width: 80px;
        height: 120px;
        margin-right: -570px;
        margin-top: -60px;
    }
    #footpagtext{
        margin-right: 100px ;
        margin-top: 50px;
    }
    #footpagtext > a{
        text-decoration: none;
        color: #3D374F;
        font-family: var(--font1);
        font-size: large;
        
    }
    #footpagtext > h2{
        font-size: 1.9em;
    }
    #footfo{
        flex-direction: column;
        display: flex;
        font-family: var(--font1);
        margin-top: 40px;
        margin-right: auto;
        margin-left: 230px;
    }
    #footfo > a{
        text-decoration: none;
        color: #3D374F;
        font-family: var(--font1);
        font-size: large;
    }
    #footfo > h2{
        font-size: 1.9em;
    }
    #footcon{
        display: grid;
        font-family: var(--font1);
        margin-top: -220px;
        margin-right: 400px;
    }
    #footcon > h2 {
        font-size: 1.9em;
    }
    #footcon > a{
        font-size: large;
    }
    .boxver{
          width: 3px;
          height: 220px; 
          margin: auto;
          background-image: radial-gradient(circle, #453E55, transparent) ;
          margin-left: 580px;
          margin-top: -210px;
          
    }
    #box2{
        width: 80vw;
        height: 2px;
        margin-left: 150px;
    }
    #copy{
        margin-left: 180px;
    }
    .slider-container{
        margin: auto;
    }
    .arrow-left{
        margin-left: 250px;
    }
    .arrow-right{
        margin-right: 250px;
    }

}
@media  screen and (max-width: 1440px ) and (min-width: 1025px) {
   body{
        background-image: url(background/fundopcpng.png);
        width: 89vw;
   }
    html{
        width: 89vw;
        margin-left: 0px;
    }
    #menuicon{
        display: none;
    }
    header{
        background-image: none;
        display: flex;
    }
    #hitens{
      margin-left: 250px;
      margin-bottom: 30px;
    }
    #itensmenu{
        display: flex;
        margin-right: 350px;
    }
   
    #zap{
        white-space: nowrap;
        border-radius: 20px;
        margin-left: 150px;
        text-align: center;
        box-sizing: content-box;
        width: 200px;
        height: 15px;
    }
    #itensmenu > nav{
        padding: 15px;
    }
    #inicio{
        margin-top: 70px;
        margin-bottom: 150px;
    }
    .box{
        margin-left: 200px;
    }
    #iniciodiv{
        display: flex;
    }
    
    #inside{
        width: 700px;
        margin-left: 100px;
        margin-bottom: 80px;
    }
    #inside > h3{
        white-space: nowrap;
        font-size: 1.7em;
    }
    #inside > h1{
        font-size: 2em;
    }
    #inicio > p{
        font-size: 1.5em;
        padding: 10px;
        margin-left: 150px;
    }
    #pczin{
        margin-left: 100px;
        display: flex;
        width: 300px;
        height: 300px;
        margin-top: -50px;
    }
    .modalc{
        width: 900px;
        height: 600px;
        position: absolute;
        background-color: black;
        margin: auto;
       
    }
    .modalc > iframe{
        width: 900px;
        height: 560px;
        
    }
    .box{
        width: 60vw;
        margin-left: 250px;
    }
    #meio{
        margin-top: 70px;
        margin-bottom: 150px;
        margin-left: 200px;
    }
    #meio > h1{
        font-size: 2.5em;
    }
    #meio > h3{
        white-space: nowrap;
    }
    #ofe{
        
    }
    #ofediv{
        display: flex;
        margin-left: 250px;
    }
    #ofediv > h1{
        margin-top: 1em;
        margin-left: -150px;
        margin-right: 200px;
    }
    #h0{
        margin-left: 20px;
        padding: 13px;
    }
    #h1{
        margin-left: 100px;
        padding: 8px;
    }
    #h2{
        margin-right: 5px;  
        padding: 13px;
    }
    #h3{
        padding: 13px;
    }
    #h4{
        padding: 13px;
    }
    .quads{
        text-align: center;
    }
    .quads > img{
        margin-bottom: 5px;
        height: 70px;
        margin-bottom: 20px;
        margin-right: 30px;
    }
    .quads > h2{
        margin-top: 0px;
        font-size: 2em;
    }
    .quads > p{
        margin-top: 0px;
        font-size: 1em;
    }
    #quada{
        margin-left: 350px;
    }
    #quad1{
        width: 200px;
        height: 220px;
    }
    #quad2{
        width: 200px;
        height: 160px;
    }
    #quad3{
        width: 200px;
        height: 410px;
    }
    #quad3 > img{
        margin-bottom: 50px;
    }
    #quad4{
        width: 200px;
        height: 140px;
    }
    #quad5{
        width: 200px;
        height: 240px;
    }
    #quad5 > h2{
        font-size: 1.7em;
    }
    #quad5 > p {
        font-size: 0.8em;
    }
    #port{
        display: flex;
        margin-left: 300px;
        margin-top: 100px;
    }
    #port > h1{
        margin-top: 1em;
        margin-left: -270px;
        margin-right: 300px;
    }
    #port > button{
        border: 2px solid#F100DF;
        width: 250px;
        height: 60px;
        padding: 10px;
        padding-right: 30px;
        font-weight: bold;
        font-size: 1.3em;
        align-items: center;
        font-family: var(--font2);
        font-weight: 600;
        text-decoration: none;
       

    }
   
    #dis{
        margin-left: 200px;
    }
    #pf{
        margin-top: 200px;
        margin-left: 150px;
        margin-bottom: 200px;
    }
    .pfs{
        width: 750px;
        margin-bottom: 10px;
        height: fit-content;
        border: none;
        
    }
    .pfs > summary{
        border: 2px solid #9733FE;
        border-radius: 20px;
        color: #B85BFE;
        font-weight: bold;
        font-size: 1em;
        font-family: var(--font1);
        font-weight: 900;
        padding: 20px;
        text-align: start;
    }
    .pfs > p{
        font-family: var(--font1);  
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #cont{
        margin-left: 0px;
    }
    #formu{
        display: grid;
        text-align: center;
        margin: 20px;
        align-items: center;
        margin-bottom: 70px;
        margin-left: 0px;
        
    }
    #formutitle{
        display: grid;
        text-align: center;
        margin: 20px;
        align-items: center;
        height: 150px;
        white-space: pre-wrap;
        word-break: break-all;
        margin-left: 100px;
    }
    #formutitle > h1{
        color: #8007FF;
        font-size: 2em;
        white-space: nowrap;
        padding-left: 20px;
        font-family: var(--font1);
        font-weight: 900;
        
    }
   
    #h4form{
        color: #C200FF;
        font-family: var(--font1);
        font-weight: bold;
        margin-top: -2em;
        margin-left: 765px;
    }
    #formutitle > p {
        font-size: 1em;
        font-family: var(--font1);
        font-weight: bold;
        white-space: nowrap;        
    }
    form{
        margin-top: 10px;
        text-align: left;
        
    }
    form > label{
        margin-left: 10px;
        font-family: var(--font1);
        font-weight: bold;
    }
    #formuin{
        justify-content: center;
        margin: auto;
        width: 900px;
        margin-left: 400px;
    }
    input{
        width: 50vw;
        height: 40px;
        background-image: linear-gradient(to right, #CD8AFF, #DA9AFF);
        border: 2px solid #BD2FFF;
        border-radius: 15px;
        margin: 5px;
       
    }
    #imail{
        width: 620px;
    }
    #iass{
        width: 620px;
        height: 120px;
    }
    
    label{
        color: #7408FF;
        font-weight: bold;
    }
    #enviar{
        width: 620px;
        height: 40px;
        color: white;
        padding: 3px;
        font-weight: bold;
        font-size: larger;
        font-family: var(--font1);
        background-image: linear-gradient(to right, #D870FF, #AA4CFD);
    }
    #formuin{
        display: block;
    }
    #formunome{
        display: flex;
    }
    #formunome > label{
        margin-left: 10px;
        font-family: var(--font1);
        font-weight: bold;
        margin-right: 260px;
    }
    #formuinnome{
        display: flex;
    }
    #formuinnome > input{
        margin-right: 10px;
        width: 300px;
    }
    .isobn{
        margin-right: 0px;
        
    }
    #formuzap{
        width: 620px;
        height: 40px;
        color: white;
        padding: 3px;
        border: 2px solid #BD2FFF;
        border-radius: 15px;
        background-image: linear-gradient(to right, #D870FF, #AA4CFD);
        display: block;    
    }
    #formuzap > a{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: larger;
        font-family: var(--font1);
        font-weight: bold;
       
    }

    #con{
        margin: auto;
        margin-left: 550px;
        margin-right: 300px;
        
    }
   
    footer{
        height: 300px;
        background-color: #E8DEF4;
        color: #3D374F;
        font-weight: bold;
        padding-top: 30px;
        display: grid;
        font-family: var(--font1);
        width: 1570px;
        margin-top: 100px;
    }
    #footpag{
        display: grid;
        position: relative;
        justify-content: space-between;
        margin-bottom: 10px;
        margin-top: 5px;
        font-family: var(--font1);
        left: -200px;
    }
    #footpagimg{
        display: flex;
        margin-left: 1250px;
        margin-top: -40px;
    }
    #footpagimg > img{
        width: 110px;
        height: 150px;
        margin-right: -450px;
        margin-top: -20px;
    }
    #footpagtext{
        margin-left: 500px;
        margin-top: 10px;
    }
    #footpagtext > a{
        text-decoration: none;
        color: #3D374F;
        font-family: var(--font1);
        font-size: large;
    }
    #footpagtext > h2{
        font-size: 2em
    }
    #footfo{
        flex-direction: column;
        display: flex;
        font-family: var(--font1);
        margin-top: 30px;
        margin-right: auto;
        margin-left: 300px;
    }
    #footfo > a{
        text-decoration: none;
        color: #3D374F;
        font-family: var(--font1);
        font-size: large;
    }
    #footfo > h2{
        font-size: 2em;
    }
    #footcon{
        padding: 10px;
        font-family: var(--font1);
        margin-top: -250px;
        margin-left: 750px;
    }
    #footcon > h2{
        font-size: 2em;
    }
    #footcon > a{
        font-size: large;
    }
    .boxver{
          width: 3px;
          height: 220px; 
          margin: auto;
          background-image: radial-gradient(circle, #453E55, transparent) ;
          margin-left: 670px;
          margin-top: -180px;
          
    }
    #box2{
        width: 60vw;
        height: 2px;
        margin-left: 200px;
    }  
    #copy{
       margin-left: 300px;
    }
    .slider-container{
        margin-left: 500px;

    }
    .arrow-left{
        margin-left: 400px;
        margin-right: 500px;
    }
    .arrow-right{
       
    }
}